* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 3px black solid;
  width: 300px;
  height: 400px;
}
button {
  background-color: #ffffff;
  border: 3.5px black solid;
  padding: 16px 48px;
  width: 179px;
}

.scored {
  border: none;
  align-self: center;
  font-size: 24px;
  font-weight: bold;
}
img {
  width: 250px;
  padding: 30px;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 204px; */
}

/* #liveFeed {
  height: 200px;
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  overflow-y: auto;
} */

.message {
  margin-bottom: 10px;
}

.winContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

h1 {
  text-align: center;
  padding: 32px;
}
